<div class="attributes" id="attributes" style="font-size: x-large; font-weight: bold ">
  <table>
    <col style="width: 7%">
    <col style="width: 60%">
    <col style="width: 20%">
    <thead>
    <th></th>
    </thead>
    <tbody>
    <tr *ngFor="let attr of character.attributes.map | keyvalue ">
      <td>
        <button class="small-icon-button" mat-icon-button>
          <mat-icon (click)="rollValue(attr.value)" [icIcon]="diceIcon" color="#CC99CC"></mat-icon>
        </button>
      </td>
      <td>
        <div>{{attr.value.meta.name}}</div>
      </td>
      <td>
        <app-modifiable-value [value]="attr.value"></app-modifiable-value>
      </td>
    </tr>
    </tbody>
  </table>
</div>
