<div class="indy a-columns" style="background-color: chartreuse; margin-left: 10px; width: 100%; height: 100%">

  <div style="background-color: magenta; height: 100px;"></div>
  <div style="background-color: blue; flex-grow: 1"></div>
  <div style="background-color: red; height: 100px;"></div>

</div>
