################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sdf
packages
/RollerEngine/obj
/RollerEngine/bin
/RollerEngine/.vs
/RolzOrgEnchancer/obj
/RolzOrgEnchancer/bin
/RolzOrgEnchancer/.vs
