################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sdf
/RollerEngine/obj
/RollerEngine/bin
/RollerEngine/.vs
/RolzOrgEnchancer/obj
/RolzOrgEnchancer/bin
/RolzOrgEnchancer/.vs
/packages
/UnitTests/bin/Debug
/UnitTests/obj/Debug
/RollerEngine/SpreadSheets/client_secret.json
