<div class="weapons-2 a-rows">

  <div class="headers a-columns">
    <div class="spacer" style="width: 24px; text-align: left;"></div>
    <div class="v-header" style="width: 24vw;">Weapon</div>
    <div class="v-header" style="width: 5vw;">Type</div>
    <div class="v-header" style="width: 7vw;">Damage</div>
    <div class="v-header" style="width: 5vw;">ROF</div>
    <div class="v-header" style="width: 5vw;">ACC</div>
    <div class="v-header" style="width: 5vw;">Recoil</div>
    <div class="v-header" style="width: 5vw;">Range</div>
    <div class="v-header" style="width: 5vw;">Ammo</div>
  </div>

  <ng-container *ngFor="let weapon of weapons">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div style="width: 24vw;">{{weapon.meta.name}}</div>
        <div style="width: 5vw; text-align: center">{{weapon.meta.dmgType}}</div>
        <div style="width: 7vw; text-align: center">{{weapon.meta.dmg1}}d6 + {{weapon.meta.dmg2}}</div>
        <div style="width: 5vw; text-align: center">{{weapon.meta.rof1}}x{{weapon.meta.rof2}}</div>
        <div style="width: 5vw; text-align: center">{{weapon.meta.acc}}</div>
        <div style="width: 5vw; text-align: center">{{weapon.meta.recoil}}</div>
        <div style="width: 5vw; text-align: center">{{weapon.meta.range}}</div>
        <div style="width: 5vw; text-align: center">{{weapon.meta.ammo}}</div>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-divider></mat-divider>
  </ng-container>
</div>
