<mat-card class="custom-roll">
  <mat-card-content>
    <div class="a-rows">
      <mat-form-field>
        <mat-label>бросок</mat-label>
        <input [formControl]="expressionControl" matInput placeholder="выражение">
      </mat-form-field>

      <button (click)="evaluate()" color="primary" mat-raised-button style="justify-self: end">Вычислить!
      </button>
    </div>
  </mat-card-content>


</mat-card>
