<div class="admin a-rows">
  <mat-tab-group>
    <mat-tab label="Регистрация игрока">
      <app-create-user></app-create-user>
    </mat-tab>
    <mat-tab label="Кампейн">
      <app-campaign-settings></app-campaign-settings>
    </mat-tab>
  </mat-tab-group>

</div>
