<mat-card class="mod-info-popup a-rows" style="filter: brightness(95%); padding: 0.7em">
  <div class="current a-columns">
    <span>{{value.baseMeta.name}}</span>
    <div class="current-value" style="margin-left: auto;">
      <span>{{value.base}}</span>
      <span [ngClass]="{'improved': value.changedBy > 0, 'worsened': value.changedBy <0 }" style="padding-left: 0.5em;">{{changedByDisplayValue}}</span>
    </div>
  </div>
  <mat-divider></mat-divider>

  <table>
    <th></th>

    <ng-container *ngIf="value.appliedModifiers.length > 0">
      <tr style="font-weight: bold; text-align: left">Модификаторы</tr>
      <tr *ngFor="let mod of value.appliedModifiers">
        <td>
          <span>{{mod.name}}</span>
        </td>
        <td>
        <span [ngClass]="{'improved': mod.value > 0, 'worsened': mod.value <0 }"
              style="padding-left: 1em; margin-left: auto;">{{mod.displayValue}}</span>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="hasBaseMods">
      <tr style="font-weight: bold; text-align: left">Влияние</tr>
      <ng-container *ngFor="let component of value.componentsValues">
        <ng-container *ngIf="component.appliedModifiers.length > 0">
          <tr *ngFor="let componentMod of component.appliedModifiers">
            <td>
              <span style="font-weight: bold">({{component.baseMeta.name}}) </span>
              <span>{{componentMod.name}}</span>
            </td>
            <td>
        <span [ngClass]="{'improved': componentMod.value > 0, 'worsened': componentMod.value <0 }"
              style="padding-left: 1em; margin-left: auto;">{{componentMod.displayValue}}</span>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </ng-container>

  </table>
</mat-card>
