<div class="weapons" id="weapons">
  <table [dataSource]="weapons" mat-table style="width: 100%">
    <ng-container matColumnDef="fire">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <mat-button-toggle (change)="equip(element, $event)"
                           [checked]="character.activeWeapon !== null && character.activeWeapon.meta.name === element.meta.name"
                           class="half_width">
          <mat-icon [icIcon]="pistolGun" color="#CC99CC"></mat-icon>
        </mat-button-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="weapon">
      <th *matHeaderCellDef mat-header-cell>Weapon</th>
      <td *matCellDef="let element" mat-cell>{{element.meta.name}}</td>
    </ng-container>

    <ng-container matColumnDef="dmgType">
      <th *matHeaderCellDef mat-header-cell>Type</th>
      <td *matCellDef="let element" mat-cell>{{element.meta.dmgType}}</td>
    </ng-container>

    <ng-container matColumnDef="damage">
      <th *matHeaderCellDef mat-header-cell>Damage</th>
      <td *matCellDef="let element" mat-cell>{{element.meta.dmg1}}d6 + {{element.meta.dmg2}}</td>
    </ng-container>

    <ng-container matColumnDef="SS">
      <th *matHeaderCellDef mat-header-cell>SS</th>
      <td *matCellDef="let element" mat-cell>{{element.meta.ss}}</td>
    </ng-container>

    <ng-container matColumnDef="ROF">
      <th *matHeaderCellDef mat-header-cell>ROF</th>
      <td *matCellDef="let element" mat-cell>{{element.meta.rof1}}x{{element.meta.rof2}}</td>
    </ng-container>

    <ng-container matColumnDef="ACC">
      <th *matHeaderCellDef mat-header-cell>ACC</th>
      <td *matCellDef="let element" mat-cell>{{element.meta.acc}}</td>
    </ng-container>

    <ng-container matColumnDef="recoil">
      <th *matHeaderCellDef mat-header-cell>Recoil</th>
      <td *matCellDef="let element" mat-cell>{{element.meta.recoil}}</td>
    </ng-container>

    <ng-container matColumnDef="range">
      <th *matHeaderCellDef mat-header-cell>Range</th>
      <td *matCellDef="let element" mat-cell>{{element.meta.range}}</td>
    </ng-container>

    <ng-container matColumnDef="ammo">
      <th *matHeaderCellDef mat-header-cell>Ammo</th>
      <td *matCellDef="let element" mat-cell> {{element.meta.ammo}}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
