
.mat-row {
  height: 2vw !important;
  max-height: 2vw !important;
}

.mat-header-row {
  height: 3vw !important;
  max-height: 3vw !important;
}

.mat-cell {
  text-align: left !important;
}

/*.mat-button {*/
/*  height: 2vh !important;*/
/*  width: 2vh !important;*/
/*}*/

/*.mat-icon {*/
/*  line-height: 2vh !important;*/
/*  width: 2vh !important;*/
/*  height: 2vh !important;*/
/*}*/

