<div class="starter">

  <div class="a-columns character-space" id="app-roller">
    <mat-card style="max-width: 60%">
      <mat-card-content>
        <mat-tab-group (selectedTabChange)="onTabChange($event)" class="no-paging" disablePagination="true">
          <mat-tab *ngFor="let character of characters" [label]="character.name">
            <div>
              <app-charsheet [character]="character"></app-charsheet>
            </div>
          </mat-tab>

          <mat-tab *ngIf="canShowSettings">
            <ng-template mat-tab-label>
              <mat-icon [icIcon]="settingsIcon" color="primary"></mat-icon>
            </ng-template>
            <app-admin></app-admin>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <div class="rolls a-rows" style="flex-grow: 1">
      <app-rolls style="width: 100%;"></app-rolls>
    </div>

  </div>
  <div class="a-rows" style="font-size: 11px;">
    <div>Character sheet by Krivda for GURPS role-playing game by <a href="http://www.sjgames.com">Steve Jackson Games Incorporated</a></div>
    <div>Based on charsheet by Molydeus</div>
    <div>License: Apache License 2.0
    </div>
    <a (click)="logoff()" *ngIf="authService.isAuthenticated$ | async" href="javascript:void(0)">logoff</a>

  </div>
</div>

