<div class="char-header a-columns bordered">
  <div class="a-rows" style="min-width: 20%;">
    <div style="color: navy; font-size: x-large; height: 1.2em; line-height: normal; font-weight: bold">GURPS</div>
    <div style="color: navy; font-size: x-large; height: 1.2em; line-height: normal; font-weight: bold">{{character.settingName}}</div>
  </div>
  <div class="character-info" style="flex-grow: 1; font-size: large; font-weight: bold">{{character.name}}</div>
</div>
