<div class="counters" id="counters">
  <table *ngIf="counters.length > 0">
    <th></th>
    <col style="width: 7%">
    <col style="width: 60%">
    <col style="width: 20%">
    <tbody>
    <tr *ngFor="let counter of this.counters">
      <td>
        <button (click)="rollValue(counter)" *ngIf="counter.meta.kind === eCounterKind.rollable " class="small-icon-button" mat-icon-button>
          <mat-icon [icIcon]="diceIcon" color="#CC99CC"></mat-icon>
        </button>
      </td>
      <td>
        <div style="min-width: 4em">{{counter.meta.name}}</div>
      </td>
      <td>
        <app-modifiable-value [value]="counter"></app-modifiable-value>
      </td>
    </tr>
    </tbody>
  </table>
</div>
