<mat-card class="createUser">

  <mat-card-header>
    <mat-card-title>Добавление игрока в приложение</mat-card-title>
    <mat-card-subtitle>создаем и добавляем в web/src/assets/auth.json на gitlab</mat-card-subtitle>
  </mat-card-header>

  <div [formGroup]="form" class="example-form a-rows" ngForm>
    <mat-form-field>
      <mat-label>имя игрока</mat-label>
      <input formControlName="player" matInput placeholder="имя игрока, а не персонажа">
    </mat-form-field>

    <mat-form-field>
      <mat-label>логин</mat-label>
      <input formControlName="login" matInput placeholder="логин игрока">
    </mat-form-field>

    <mat-form-field>
      <mat-label>пароль игрока</mat-label>
      <input [type]="inputType" formControlName="password" matInput required>
      <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="показать" tabindex="-1" type="button">
        <mat-icon *ngIf="visible" [icIcon]="icVisibility" color="primary"></mat-icon>
        <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff" color="primary"></mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>пароль (еще раз)</mat-label>
      <input [type]="inputType" formControlName="confirmPassword" matInput required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>json для публикации</mat-label>
      <textarea formControlName="json" matInput placeholder="json для gitlab" readonly="true" style="min-height: 15vh"> </textarea>
    </mat-form-field>

  </div>
  <button (click)="encode()" [disabled]="!form.valid" color="primary" mat-raised-button type='button'>Зашифровать</button>

</mat-card>
