<div class="defenses a-rows" id="attributes">
  <table class="armor">
    <col>
    <col>
    <thead>
    <th style="font-weight: bold; text-align: left">Armor:</th>
    </thead>
    <tbody>
    <tr>
      <td>
        <div style="min-width: 3em">{{armor.meta.name}}</div>
      </td>
    </tr>
    <tr>
      <td>
        <div style="min-width: 3em; padding-left: 1em">{{armorMalf.meta.name}}</div>
      </td>
      <td>
        <app-modifiable-value [value]="armorMalf"></app-modifiable-value>
      </td>
    </tr>
    <tr>
      <td>
        <div style="min-width: 3em; padding-left: 1em">{{armorHp.meta.name}}</div>
      </td>
      <td>
        <app-modifiable-value [value]="armorHp"></app-modifiable-value>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="min-height: 3vh"></div>
  <table class="def-values">
    <col>
    <col>
    <col>
    <thead>
    <th colspan="2" style="font-weight: bold; text-align: left">Defence:</th>
    </thead>
    <tbody>
    <tr *ngFor="let counter of this.defences">
      <td>
        <button (click)="rollValue(counter)" *ngIf="counter.meta.kind === eCounterKind.rollable " class="small-icon-button" mat-icon-button>
          <mat-icon [icIcon]="diceIcon" color="#CC99CC"></mat-icon>
        </button>
      </td>
      <td>
        <div style="min-width: 1vw; padding-left: 1vw">{{counter.meta.name}}</div>
      </td>
      <td>
        <app-modifiable-value [value]="counter"></app-modifiable-value>
      </td>
    </tr>
    </tbody>
  </table>
</div>
