<div class="a-columns" style="align-items: center;">
  <span [ngClass]="{'improved': value.changedBy > 0, 'worsened': value.changedBy <0  }"
        style="min-width: 1.3em; text-align: right;">{{value.cached}}</span>
  <div *ngIf="value.modified">
    <button #trigger="cdkOverlayOrigin" (click)="show()"
            cdkOverlayOrigin
            class="small-icon-button"
            mat-icon-button

    >
      <mat-icon [icIcon]="commentQuestionOutline" color="#CC99CC"></mat-icon>
    </button>
    <ng-template (backdropClick)="isOpen = false" (detach)="isOpen = false"
                 [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOpen]="isOpen" [cdkConnectedOverlayOrigin]="trigger"
                 cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop">

      <app-details-popup [cdkTrapFocusAutoCapture]="true" [value]="value" cdkTrapFocus></app-details-popup>
    </ng-template>

  </div>
</div>


