<div class="attributes a-rows" id="attributes">
  <table>
    <col style="width: 20%">
    <col>
    <thead>
    <th style="font-weight: bold; text-align: left">Speed:</th>
    </thead>
    <tbody>
    <tr>
      <td>
        <div style="padding-left: 1em">{{speed.meta.name}}</div>
      </td>
      <td class="a-columns">
        <div class="spacer" style="flex-grow: 1;"></div>
        <app-modifiable-value [value]="speed"></app-modifiable-value>
      </td>
    </tr>
    <tr>
      <td>
        <div style="padding-left: 1em;">{{move.meta.name}}</div>
      </td>
      <td class="a-columns">
        <div class="spacer" style="flex-grow: 1;"></div>
        <app-modifiable-value [value]="move"></app-modifiable-value>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="min-height: 4.8vh"></div>
  <table>
    <col>
    <col>
    <thead>
    <th style="font-weight: bold; text-align: left">Melee Dmg:</th>
    </thead>
    <tbody>
    <tr>
      <td>
        <div style="padding-left: 1em">Thrust</div>
      </td>
      <td>
        <div>не умею</div>
      </td>
    </tr>
    <tr>
      <td>
        <div style="padding-left: 1em">Swing</div>
      </td>
      <td>
        <div>не умею</div>
      </td>
    </tr>
    <tr>
      <td>
        <div style="padding-left: 1em">Kick</div>
      </td>
      <td>
        <div>не умею</div>
      </td>
    </tr>

    </tbody>
  </table>
</div>
