<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="nlog_log.log" >

  <targets>
    <target name="console"   xsi:type="Console"  layout="${level}: ${message}" />
    <target encoding="UTF-8" name="Trace_log" xsi:type="File" 	fileName="_trace.Roller.log" 	layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target encoding="UTF-8" name="Debug_log" xsi:type="File" 	fileName="_debug.Roller.log"  layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target encoding="UTF-8" name="Info_log"  xsi:type="File" 	fileName="_info.Roller.log" 	layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target encoding="UTF-8" name="Warn_log"  xsi:type="File" 	fileName="_warn.Roller.log" 	layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target encoding="UTF-8" name="Error_log" xsi:type="File" 	fileName="_error.Roller.log" 	layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target encoding="UTF-8" name="Fatal_log" xsi:type="File" 	fileName="_fatal.Roller.log" 	layout="${level}: ${message}" deleteOldFileOnStartup="true" />
  </targets>

  <rules>
    <logger name="ConsoleLog" minlevel="Trace" writeTo="console"   />
	  <logger name="FileLog"    minlevel="Trace" writeTo="Trace_log" />
    <logger name="FileLog"    minlevel="Debug" writeTo="Debug_log" />
    <logger name="FileLog"    minlevel="Info"  writeTo="Info_log"  />
    <logger name="FileLog"    minlevel="Warn"  writeTo="Warn_log"  />
    <logger name="FileLog"    minlevel="Error" writeTo="Error_log" />
    <logger name="FileLog"    minlevel="Fatal" writeTo="Fatal_log" />

  </rules>
</nlog>
