<mat-card class="createUser" xmlns="http://www.w3.org/1999/html">
  <div [formGroup]="form" class="example-form a-rows flex-gap-1.5" ngForm>

    <mat-card-header>
      <mat-card-title>Настройки кампейна</mat-card-title>
      <mat-card-subtitle>создаем и добавляем в web/src/assets/campaigns/[id].json на gitlab</mat-card-subtitle>
    </mat-card-header>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Настройки кампании</mat-expansion-panel-header>
      <div class="a-rows gap='1vh'">
        <mat-checkbox (change)="onAsCampaignChange()" color="primary" formControlName="outputAsCampaign">полный json кампэйна</mat-checkbox>

        <mat-form-field>
          <mat-label>Идентификатор кампейна</mat-label>
          <input formControlName="campaignId" matInput>
          <mat-hint style="font-style: italic">буквы, цифры, подчеркивание, дефис. Это станет именем json-файла кампейна</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Название кампании</mat-label>
          <input formControlName="campaignName" matInput>
          <mat-hint style="font-style: italic">человеческое название кампании</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Firebase DB</mat-label>
          <input formControlName="database" matInput>
          <mat-hint style="font-style: italic">Лучше, если совпадет с id кампейна. Пусто для локальной БД</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Мастер-ключ DMов капмейна</mat-label>
          <input formControlName="dmMasterKey" matInput>
          <mat-hint style="font-style: italic">Ключ, на котором шифруется все мастерское. Сгенери сильный пароль!</mat-hint>
          <button (click)="generateDmKey()" mat-icon-button matSuffix>
            <mat-icon [icIcon]="restoreIcon" color="primary"></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ключ шифрования API</mat-label>
          <input formControlName="apiKey" matInput>
          <button (click)="generateApiKey()" mat-icon-button matSuffix>
            <mat-icon [icIcon]="restoreIcon" color="primary"></mat-icon>
          </button>
          <mat-hint style="font-style: italic">На этом ключе шифруются секреты внешних API. Сгенери сильный пароль!</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Секрет для API firebase</mat-label>
          <mat-hint style="font-style: italic">Стандартный google формат</mat-hint>
          <textarea formControlName="firebase" matInput style="min-height: 10vh"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Секрет для API kafka</mat-label>
          <mat-hint style="font-style: italic">Пока хз</mat-hint>
          <textarea formControlName="kafka" matInput style="min-height: 10vh"></textarea>
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-form-field style="margin-top: 2rem">
      <mat-label>Логин игрока</mat-label>
      <input formControlName="playerLogin" matInput>
      <mat-hint style="font-style: italic">Именно логин (из auth.json). Не ID персонажа!!</mat-hint>
      <mat-error *ngIf="deForm.playerLogin.invalid">{{loginError()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Пароль игрока</mat-label>
      <input formControlName="playerPassword" matInput>
      <mat-hint style="font-style: italic">Не хранится. На нем зашифруется API ключ</mat-hint>
      <mat-error *ngIf="deForm.playerPassword.invalid">{{passwordError()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Личный ключ</mat-label>
      <input formControlName="playerPersonalKey" matInput>
      <button (click)="generatePlayerKey()" mat-icon-button matSuffix>
        <mat-icon [icIcon]="restoreIcon" color="primary"></mat-icon>
      </button>

      <mat-hint style="font-style: italic">На нем зашифруется приватные игроцкие сообщения. Чтобы не нужен был его пароль потом</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Список персонажей под контролем</mat-label>
      <mat-hint style="font-style: italic">Id персонажей в базе. Каждый с новой строки</mat-hint>
      <textarea formControlName="playerCharacters" matInput style="min-height: 10vh"></textarea>
    </mat-form-field>

    <mat-checkbox (change)="onIsDmChange()" color="primary" formControlName="isDm">мастер игры?</mat-checkbox>
    <mat-hint style="font-style: italic">Должен быть указан Мастер-ключ DMов капмейна</mat-hint>

    <mat-divider style="margin-top: 2vh"></mat-divider>

    <mat-form-field>
      <mat-label>json для публикации</mat-label>
      <textarea formControlName="json" matInput placeholder="json для gitlab" readonly="true" style="min-height: 15vh"> </textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>json списка кампаний</mat-label>
      <textarea formControlName="jsonC" matInput placeholder="json для gitlab" readonly="true" style="min-height: 15vh"> </textarea>
    </mat-form-field>
  </div>
  <button (click)="show()" mat-raised-button type='button'>Извлечь текущие</button>
  <button (click)="encode()" [disabled]="!form.valid" color="primary" mat-raised-button type='button'>Зашифровать</button>
</mat-card>
