.back {
  background-color: #a2a2d3;
  /*opacity: 0.4;*/
  /*background-image: radial-gradient(#250d31 0.9px, #9191b4 0.9px);*/
  /*background-size: 18px 18px;*/
}

.raisedBox {
  -webkit-box-shadow: -12px 11px 10px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -12px 11px 10px 3px rgba(34, 60, 80, 0.2);
  box-shadow: -12px 11px 10px 3px rgba(34, 60, 80, 0.2);
}
