<div class="login-screen a-rows back" style="width: 100%; height: 100%; align-items: center; justify-content: center">
  <mat-card>
    <form (ngSubmit)="logon()" [formGroup]="form" class="example-form a-rows" ngForm style="opacity: 1">

      <mat-form-field>
        <mat-label>login</mat-label>
        <input autofocus formControlName="login" matInput placeholder="enter login">
      </mat-form-field>

      <mat-form-field>
        <mat-label>password</mat-label>
        <input [type]="inputType" formControlName="password" matInput required>
        <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="show password" tabindex="-1" type="button">
          <mat-icon *ngIf="visible" [icIcon]="icVisibility" color="primary"></mat-icon>
          <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff" color="primary"></mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>campaign</mat-label>
        <mat-select formControlName="campaign" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let database of databases" [value]="database">
            {{database.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['campaign'].hasError('required')">choose campaign wisely!</mat-error>
      </mat-form-field>

      <button (click)="logon()" (keydown.enter)="logon()" color="primary" mat-raised-button type='button'>Enter</button>
      <div *ngIf="authService.failedMessage$ | async" style="color: red">{{authService.failedMessage$.value}}</div>

    </form>

  </mat-card>
</div>
