<div class="fire-control a-rows">

  <span style="font-weight: bold; padding-left: 1em">{{character.activeWeapon!.meta.name}}</span>
  <div class="container a-columns">
    <mat-card class="target" style="flex-grow: 1; flex-basis: 50%">

      <div class="all-mods a-columns">
        <div class="a-columns range" style="flex-basis: 30%; flex-grow: 1">
          <mat-form-field style="flex-grow: 1; max-width: 6em">
            <mat-label>range</mat-label>
            <input (change)="calcShotDifficulty()" [formControl]="rangeControl"
                   matInput type="number">
          </mat-form-field>
          <div class="a-rows" style="justify-content: center">
          <span [ngClass]="{'improved': rangeMod > 0, 'worsened': rangeMod < 0 }"
                style="text-align: center; font-weight: bold; min-width: 3em">{{rangeModText}}</span>
          </div>
        </div>

        <div class="a-columns size" style="flex-basis: 30%; flex-grow: 1">
          <mat-form-field style="flex-grow: 1; max-width: 6em">
            <mat-label>size</mat-label>
            <input (change)="calcShotDifficulty()" [formControl]="sizeControl"
                   matInput type="number">
          </mat-form-field>
          <div class="a-rows" style="justify-content: center">
          <span [ngClass]="{'improved': sizeMod > 0, 'worsened': sizeMod < 0 }"
                style="text-align: center; font-weight: bold; min-width: 3em">{{sizeModText}}</span>
          </div>
        </div>

        <div class="a-columns speed" style="flex-basis: 30%; flex-grow: 1">
          <mat-form-field style="flex-grow: 1; max-width: 6em">
            <mat-label>Speed</mat-label>
            <input (change)="calcShotDifficulty()" [formControl]="speedControl"
                   matInput type="number">
          </mat-form-field>
          <div class="a-rows" style="justify-content: center">
          <span [ngClass]="{'improved': speedMod > 0, 'worsened': speedMod < 0 }"
                style="text-align: center; font-weight: bold; min-width: 3em">{{speedModText}}</span>
          </div>
        </div>
      </div>
      <mat-form-field style="width: 100%">
        <mat-label>Additional Difficulty</mat-label>
        <input (click)="calcShotDifficulty()" [formControl]="additionalDifficultyControl" matInput type="number">
      </mat-form-field>

      <div style="font-weight: bold;">Target to hit modifier: <span
        [ngClass]="{'improved': targetMod > 0, 'worsened': targetMod < 0 }">{{targetModText}}</span>
      </div>

      <div class="difficulty-and-name a-columns">
        <mat-form-field style="flex-grow: 1">
          <mat-label>Target Name</mat-label>
          <input [formControl]="targetNameControl" matInput>
        </mat-form-field>
        <mat-form-field style="max-width: 3vw; margin-left: 1em">
          <mat-label>DR</mat-label>
          <input [formControl]="targetDRControl" matInput type="number">
        </mat-form-field>
      </div>

      <mat-form-field style="width: 100%">
        <mat-label>Target damage dealt (this round)</mat-label>
        <input [formControl]="targetDamageDealtControl"
               matInput min="0" type="number">
        <button (click)="resetDamage()" mat-icon-button matSuffix>
          <mat-icon [icIcon]="restoreIcon" color="primary"></mat-icon>
        </button>
      </mat-form-field>
    </mat-card>

    <mat-card *ngIf="gunner" class="shooter a-rows" style="flex-grow: 1; flex-basis: 50%">
      <div class="shooting a-rows">
        <div class="skill a-columns" style="align-items: center; margin-bottom: 0.7em">
          <span style="font-weight: bold">{{gunner.meta.name}}</span>
          <app-modifiable-value [value]="gunner"></app-modifiable-value>
        </div>

        <div class="a-columns">
          <div class="recoils a-rows">
            <div class="caption">Recoil</div>
            <div class="shots-fired a-columns">
              <mat-form-field style="flex-grow: 1">
                <mat-label>Shots fired [{{shotsFiredControl.value}} / {{shotsFiredMax}}]</mat-label>
                <input (change)="changeShotsFired()" [formControl]="shotsFiredControl" [max]="shotsFiredMax"
                       matInput min="0" style="text-align: end" type="number">
                <button (click)="resetRecoil()" mat-icon-button matSuffix>
                  <mat-icon [icIcon]="restoreIcon" color="primary"></mat-icon>
                </button>
              </mat-form-field>
              <div class="a-rows" style="justify-content: center">
            <span [ngClass]="{'improved': recoilMod > 0, 'worsened': recoilMod < 0 }"
                  style="text-align: center; font-weight: bold; min-width: 3em">{{recoilModText}}</span>
              </div>
            </div>
          </div>

          <div class="aiming a-rows">
            <div class="caption">Aiming</div>
            <div class="aiming-rounds a-columns">
              <mat-form-field style="flex-grow: 1">
                <mat-label>Aiming rounds [{{aimRoundsControl.value}} / {{MAX_AIM_ROUNDS}}]</mat-label>
                <input (change)="changeAimRounds()" [formControl]="aimRoundsControl" [max]="MAX_AIM_ROUNDS"
                       matInput min="0" style="text-align: end" type="number">
                <button (click)="resetAiming()" mat-icon-button matSuffix>
                  <mat-icon [icIcon]="restoreIcon" color="primary"></mat-icon>
                </button>
              </mat-form-field>
              <div class="a-rows" style="justify-content: center">
            <span [ngClass]="{'improved': aimingMod > 0, 'worsened': aimingMod < 0 }"
                  style="text-align: center; font-weight: bold; min-width: 3em">{{aimingModText}}</span>
              </div>
            </div>
          </div>
        </div>

        <span *ngIf="snapshot !== 0" style="font-weight: bold; color: #DD2C00">SNAPSHOT! (-4)</span>

        <span class="caption">Ammo {{ammo}}/{{clipSize}}</span>
        <mat-progress-bar [value]="spentAmmoProgress" style="flex-grow: 1"></mat-progress-bar>

        <mat-divider style="margin: 1em"></mat-divider>
        <span style="font-weight: bold;">Total roll difficulty:
          <span [ngClass]="{'improved': totalDifficulty > 9, 'worsened': totalDifficulty < 10 }" style="font-weight: bold;">{{totalDifficulty}}</span>
         </span>
      </div>

      <mat-card-actions align="end">
        <button (click)="doReset()" mat-raised-button>Reset
          <mat-icon [icIcon]="restoreIcon" color="primary" matPrefix></mat-icon>
        </button>
        <button (click)="reload()" mat-raised-button>Reload</button>
        <div [matTooltip]="canAimHint">
          <button (click)="doAim()" [disabled]="!canAim" mat-raised-button>Aim</button>
        </div>
        <div [matTooltip]="canFireHint">
          <button (click)="shoot()" [disabled]="!canFire" color="primary" mat-raised-button>Shoot</button>
        </div>

      </mat-card-actions>

    </mat-card>
  </div>
</div>
