<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="nlog_log.log" >

  <targets>
    <target name="console" xsi:type="Console" layout="${level}: ${message}" />
	  <target name="Main_log" xsi:type="File" fileName="__Roller.log" layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target name="Intermediate_log" xsi:type="File" fileName="_Intermediate.Roller.log" layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target name="Boost_log" xsi:type="File" fileName="_Boost.Roller.log" layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target name="Restoration_log" xsi:type="File" fileName="_Restoration.Roller.log" layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target name="Gathering_log" xsi:type="File" fileName="_Gathering.Roller.log" layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target name="Creation_log" xsi:type="File" fileName="_Creation.Roller.log" layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target name="TeachLearn_log" xsi:type="File" fileName="_TeachLearn.Roller.log" layout="${level}: ${message}" deleteOldFileOnStartup="true" />
    <target name="Rites_log" xsi:type="File" fileName="_Rites.Roller.log" layout="${level}: ${message}" deleteOldFileOnStartup="true" />
  </targets>

  <rules>
    <logger name="Channel_Main.*" minlevel="Trace" writeTo="console" />
	  <logger name="Channel_Main.*" minlevel="Trace" writeTo="Main_log" />
    <logger name="Channel_Intermediate.*" minlevel="Trace" writeTo="Intermediate_log" />
    <logger name="Channel_Boost.*" minlevel="Trace" writeTo="Boost_log" />
    <logger name="Channel_Restoration.*" minlevel="Trace" writeTo="Restoration_log" />
    <logger name="Channel_Gathering.*" minlevel="Trace" writeTo="Gathering_log" />
    <logger name="Channel_Creation.*" minlevel="Trace" writeTo="Creation_log" />
    <logger name="Channel_TeachLearn.*" minlevel="Trace" writeTo="TeachLearn_log" />
    <logger name="Channel_Rites.*" minlevel="Trace" writeTo="Rites_log" />

  </rules>
</nlog>
