<div class="advantages" id="advantages">
  <table>
    <col style="width: 90%">
    <col style="width: 10%">
    <thead>
    <th>Advantages/Disadvantages</th>
    <th></th>
    </thead>
    <tbody>
    <tr *ngFor="let adv of character.advantages | keyvalue ">
      <td>
        <div>{{adv.value.meta.name}}</div>
      </td>
      <td>
        <div style="font-weight: bold">x{{adv.value.taken}}</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
