
.mat-row {
  height: 2vw !important;
  max-height: 2vw !important;
}

.mat-header-row {
  height: 3vw !important;
  max-height: 3vw !important;
}

.mat-cell {
  padding-right: 1vw !important;
  padding-left: 1vw !important;
}

.mat-button {
  height: 2vh !important;
  width: 2vh !important;
}
