<div class="a-rows" id="skills">
  <table [dataSource]="skills" mat-table style="flex-grow: 1">

    <ng-container matColumnDef="dice">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="rollValue(element)" class="small-icon-button" mat-icon-button>
          <mat-icon [icIcon]="diceIcon" color="#CC99CC"></mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> SKILLS</th>
      <td *matCellDef="let element" mat-cell> {{element.meta.name}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th *matHeaderCellDef mat-header-cell> Value</th>
      <td *matCellDef="let element" mat-cell>
        <div class="a-columns" style="align-items: center">
          <app-modifiable-value [value]="element"></app-modifiable-value>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="attr">
      <th *matHeaderCellDef mat-header-cell>Attr</th>
      <td *matCellDef="let element" mat-cell> {{element.meta.attribute.name}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
