<div #rollContainer class="event-log a-rows" style="align-items: flex-start; overflow-y: auto; max-height: 75vh">

  <mat-list style="width: 100%">
    <ng-container *ngFor="let roll of rollHistory">
      <mat-list-item>
        <ng-container *ngIf="castToCheckRoll(roll); let check">
          <div class="check-roll-visual a-rows">
            <span style="font-weight: bold">{{check.character}} {{check.description}} ({{check.subject}})</span>

            <div class="check-roll-visual-content">
              <span>[</span>
              <span *ngFor="let dice of check.result.dices; first as isFirst"
                    [ngClass]="{'improved': dice == 1, 'worsened': dice == 6, 'not-first': !isFirst}"
                    style="font-weight: bold;">{{dice}}</span>
              <span>] = </span>
              <span style="font-weight: bold;">{{check.result.sum}}</span>
              <span> против сложности </span>
              <span style="font-weight: bold;">{{check.totalDifficulty}}</span>
              <span>. Это </span>
              <span [ngClass]="{'improved': check.result.outcome, 'worsened': !check.result.outcome}"
                    style="font-weight: bold;">{{check.result.outcomeText}}</span>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="castToDamageRoll(roll); let damage">
          <div class="check-roll-visual a-rows">
            <span style="font-weight: bold">{{damage.character}} наносит урон {{damage.description}}</span>

            <div class="check-roll-visual-content">
              <span>([</span>
              <span *ngFor="let dice of damage.result.dices; first as isFirst"
                    [ngClass]="{'improved': dice == 1, 'worsened': dice == 6, 'not-first': !isFirst}"
                    style="font-weight: bold;">{{dice}}</span>
              <span>] + </span>
              <span style="font-weight: bold;">{{damage.addendum}}</span>
              <span> - </span>
              <span style="font-weight: bold;">{{damage.DR}}</span>
              <span>) * </span>
              <span style="font-weight: bold;">{{damage.multiplier}}</span>
              <span> = </span>
              <span style="font-weight: bold;">{{damage.result.sum}}</span>
            </div>
          </div>
        </ng-container>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>

</div>


