<div class="modifiers" id="modifiers">
  <table>
    <col>
    <col>
    <col>
    <thead>
    <th colspan="3" style="text-align: left">Modifiers</th>
    </thead>
    <tbody>
    <ng-container *ngFor="let mod of character.modifiers">
      <tr *ngIf="mod.temp === true">
        <td>
          <mat-checkbox (change)="enable(mod, $event)" [checked]="mod.enabled" color="primary"></mat-checkbox>
        </td>
        <td>
          <div>{{mod.name}}</div>
        </td>
        <td *ngFor="let subject of mod.subjects">
          <div>{{subject}} {{mod.displayValue}}</div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
