/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

.a-rows {

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.a-columns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.small-icon-button {
  height: 24px !important;
  width: 24px !important;
  line-height: normal !important;
}

.bordered {
  border-style: solid;
  border-width: thin;
  padding: 0.2vw;
}

.improved {
  color: green;
}

.worsened {
  color: #DD2C00
}

.no-paging .mat-tab-labels {
  flex-wrap: wrap;
}
