<h3 mat-dialog-title>Roll {{params.value.baseMeta.name}}</h3>

<div class="a-rows">
  <div class="a-rows">
    <span class="caption">Difficulty</span>

    <div class="a-columns difficulty">
      <mat-slider (change)="onSlide($event)" [formControl]="difficultySlider" color="primary" max="10" min="-10" step="1"
                  style="flex-grow: 1; justify-self: end; margin-top: 1em"
                  thumbLabel="true">
      </mat-slider>
      <mat-form-field class="" style="text-align: end; max-width: 3em">
        <input (change)="valueEntered()" [formControl]="difficultyInput"
               matInput type="number">
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>description</mat-label>
      <input [formControl]="rollText" matInput placeholder="searches the room">
    </mat-form-field>

    <mat-checkbox [formControl]="secretRollCheckbox" color="primary">secret roll</mat-checkbox>
  </div>

</div>

<div class="a-columns" mat-dialog-actions style="justify-content: end;">
  <button (click)="roll()" color="primary" mat-raised-button>Throw Dice!</button>
</div>
