.prop-grid {
  display: grid;
  grid-template-columns: [left] 1fr [right] 1fr;
  grid-template-rows: fit-content(100%);
  grid-template-areas:
    "main-attr counters"
    "secondary-attr defense"
    "advantages advantages"
    "modifiers modifiers";
}

.item-main-attr {
  grid-area: main-attr;
}

.item-counters {
  grid-area: counters;
}

.item-secondary-attr {
  grid-area: secondary-attr;
}

.item-defense {
  grid-area: defense;
}

.item-advantages {
  grid-area: advantages;
}

.item-modifiers {
  grid-area: modifiers;
}
