<div class="a-rows bordered" id="charsheet">
  <div id="header">
    <app-header [character]="character"></app-header>
  </div>
  <div class="main a-columns" id="center">
    <div class="prop-grid" id="properties">
      <div class="item-main-attr bordered">
        <app-attributes [character]="character"></app-attributes>
      </div>
      <div class="item-counters bordered">
        <app-counters [character]="character"></app-counters>
      </div>
      <div class="item-secondary-attr bordered">
        <app-sec-attributes [character]="character"></app-sec-attributes>
      </div>
      <div class="item-defense bordered">
        <app-defences [character]="character"></app-defences>
      </div>
      <div class="item-advantages bordered">
        <app-advantages [character]="character"></app-advantages>
      </div>
      <div class="item-modifiers bordered">
        <app-modifiers [character]="character"></app-modifiers>
      </div>
    </div>
    <div class="skills bordered" style="flex-grow: 1;">
      <app-skills-list [character]="character"></app-skills-list>
    </div>
  </div>
  <div class="weapons-block bordered">
    <app-weapons [character]="character"></app-weapons>
  </div>
  <div *ngIf="character.activeWeapon != null" class="fire-control bordered">
    <app-fire-control [character]="character" [weapon]="character.activeWeapon"></app-fire-control>
  </div>
</div>
